
<div class="row">
  <div class="col-md-12 my-custom-col"><h3><%= title %></h3></div>
  <div class="row">
    <% (1..12).each do |month| %>
      <% ["前半", "後半"].each do |half| %>
        <div class="col-md-3">
          <div class="border border-secondary">
            <% races = Race.where("date_#{period} = ?", "#{month}月#{half}").order("date_#{period}") %>
            <% if races.any? %>
              <% races.each do |race| %>
                <% btn_label = @umamusume.won_race?(race) ? "☆#{race.name}" : "・#{race.name}" %>
                <% css_class = @target_races.any? { |target_race| target_race.race_id == race.id } ? (@umamusume.won_race?(race) ? "btn btn-danger" : "btn btn-outline-danger") : (@umamusume.won_race?(race) ? "btn btn-primary" : "btn btn-dark") %>
                <%= button_to btn_label, @umamusume.won_race?(race) ? umamusume_race_path(@umamusume, race) : umamusume_races_path(@umamusume, race_id: race.id), method: @umamusume.won_race?(race) ? :delete : :post, class: css_class, role: "button" %>
              <% end %>
            <% else %>
              <p>（レースなし）</p>
            <% end %>
          </div>
          <p><%= "#{month}月#{half}" %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>