<div class="contents row">
  <% @umamusumes.each do |umamusume| %>
      <p><%= umamusume.name %></p>
      <span class="name">
        <%= umamusume.turf %>
      </span>
    </div>
  <% end %>
</div>