<div class="contents row">

  <div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">

      </div>

      <% if Umamusume.exists? %>
        <%= @umamusumes.each do |umamusume| %>
          <%= render partial: "umamusume", locals: { umamusume: umamusume } %>
        <% end %>
      <% end %>
    </div>
  </div>



</div>