<div class="card" style="width: 18rem;">
  <%= link_to(image_tag("エアシャカール.png", class: "card-img-top", alt: "..."), root_path) %>
  <div class="card-body">
    <h5 class="card-title">未登録のウマ娘</h5>
    <p class="card-text">ここにトロフィー獲得状況を表示させたい</p>
    <a href="#" class="btn btn-primary">詳細</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <%= link_to(image_tag("エアシャカール.png", class: "card-img-top", alt: "..."), root_path) %>
  <div class="card-body">
    <h5 class="card-title">登録済みのウマ娘</h5>
    <p class="card-text">ここにトロフィー獲得状況を表示させたい</p>
    <a href="#" class="btn btn-primary">詳細</a>
  </div>
</div>