<div class="contents row">
  <div class="container text-center">
    <div class="row row-cols-5 g-0">
      <% @umamusume_list.each do |umamusume| %>
        <% unless current_user.umamusumes.exists?(name: umamusume[:name]) %>
          <div class="col">
            <div class="card">
              <%#= image_tag(umamusume[:image], class: "card-img-top", alt: "...") %>
              <div class="card-body">
                <h5 class="card-title"><%= umamusume[:name] %></h5>
                <%= button_to "登録", umamusumes_path(umamusume: umamusume), method: :post, class: "btn btn-primary", role: "button" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>