<div class="card" style="width: 18rem;">
  <%= link_to(image_tag("スペシャルウィーク（公式1）.png", class: "card-img-top", alt: "..."), root_path) %>
  <div class="card-body">
    <h5 class="card-title">未登録ウマ娘の名前</h5>
    <a href="#" class="btn btn-primary">
      <%= button_to "この娘を登録する", umamusumes_path(umamusume: { name: "スペシャルウィーク", turf: "A", dirt: "G", sprint: "F", mile: "C", intermediate: "A", long: "A" }), method: :post, class: "btn btn-primary", role: "button" %>
    </a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <%= link_to(image_tag("エアシャカール.png", class: "card-img-top", alt: "..."), root_path) %>
  <div class="card-body">
    <h5 class="card-title">登録済みのウマ娘</h5>
    <p class="card-text">ここにトロフィー獲得状況を表示させたい</p>
    <a href="#" class="btn btn-primary">詳細</a>
  </div>
</div>