<div class="container text-center">
  <div class="row">
    <% @races.each do |race| %>
      <div class="col-md-4 my-custom-col">
        <div class="card text-center mb-4">
          <%= link_to(image_tag("#{race.name}.png", class: "card-img-top", alt: "...", style: "max-width: 20%; height: auto;"), root_path) %>
          <div class="card-body">
            <h6 class="card-title"><%= race.name %></h5>
            <p class="card-text"></p>
            <%= button_to "詳細", umamusume_path(race.id), method: :get, class: "btn btn-primary", role: "button" %>
            <%#= button_to "登録解除", umamusume_path(race), method: :delete, class: "btn btn-primary", role: "button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<%#= image_tag("#{@umamusume.name}（公式SNSアイコン）.png", class: "card-img-top", alt: "...") %>
<%#= @umamusume.name %>